--
-- PostgreSQL database cluster dump
--

\restrict JjhWfd1sEhiOtC07fknVxCiPqO7UDqYeYwvhcRjzjmc24TFML6tytsTcHvOYzcW

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE qrapp;




--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:bBPjKbLaJlXzCARrJfdVlg==$NY7Sb0tPFUjgss8+fnO9lugbd6rDr8aUlFtgmC9slSs=:i7BbcuLs1XcnhZQpFrCHGSw3C3kKlkXRAz+gCaVfEiU=';

--
-- User Configurations
--








\unrestrict JjhWfd1sEhiOtC07fknVxCiPqO7UDqYeYwvhcRjzjmc24TFML6tytsTcHvOYzcW

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict SJGXe390Q3f2FpvnrXAJegwGrCdYC4D2JvlT3igcYiUmGbpr9p537sCHjR6WwGL

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\unrestrict SJGXe390Q3f2FpvnrXAJegwGrCdYC4D2JvlT3igcYiUmGbpr9p537sCHjR6WwGL
\connect template1
\restrict SJGXe390Q3f2FpvnrXAJegwGrCdYC4D2JvlT3igcYiUmGbpr9p537sCHjR6WwGL

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict SJGXe390Q3f2FpvnrXAJegwGrCdYC4D2JvlT3igcYiUmGbpr9p537sCHjR6WwGL
\connect template1
\restrict SJGXe390Q3f2FpvnrXAJegwGrCdYC4D2JvlT3igcYiUmGbpr9p537sCHjR6WwGL

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict SJGXe390Q3f2FpvnrXAJegwGrCdYC4D2JvlT3igcYiUmGbpr9p537sCHjR6WwGL

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict USlszLxCfEY6XCOMygRCPNEsfhmFhqokAdadwbjKxhse9DULWh2QdofHHUvfldK

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\unrestrict USlszLxCfEY6XCOMygRCPNEsfhmFhqokAdadwbjKxhse9DULWh2QdofHHUvfldK
\connect postgres
\restrict USlszLxCfEY6XCOMygRCPNEsfhmFhqokAdadwbjKxhse9DULWh2QdofHHUvfldK

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict USlszLxCfEY6XCOMygRCPNEsfhmFhqokAdadwbjKxhse9DULWh2QdofHHUvfldK

--
-- Database "qrapp" dump
--

--
-- PostgreSQL database dump
--

\restrict 6Rteq9dv54htYkb3TrNUutOrlvk4COXjVHqa8GGNlwy5jPZTikGo79uW056CIk0

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: qrapp; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE qrapp WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE qrapp OWNER TO postgres;

\unrestrict 6Rteq9dv54htYkb3TrNUutOrlvk4COXjVHqa8GGNlwy5jPZTikGo79uW056CIk0
\connect qrapp
\restrict 6Rteq9dv54htYkb3TrNUutOrlvk4COXjVHqa8GGNlwy5jPZTikGo79uW056CIk0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent_actions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agent_actions (
    id bigint NOT NULL,
    action_uuid uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    user_id integer NOT NULL,
    created_by_type text NOT NULL,
    created_by_id integer,
    property_id integer,
    lead_id integer,
    sign_asset_id integer,
    order_id integer,
    action_type text NOT NULL,
    status text NOT NULL,
    proposal jsonb DEFAULT '{}'::jsonb NOT NULL,
    execution jsonb,
    policy_snapshot jsonb DEFAULT '{}'::jsonb NOT NULL,
    input_event_refs jsonb DEFAULT '[]'::jsonb NOT NULL,
    requires_approval boolean DEFAULT true NOT NULL,
    approved_by_user_id integer,
    approved_at timestamp with time zone,
    rejected_by_user_id integer,
    rejected_at timestamp with time zone,
    rejection_reason text,
    execute_after timestamp with time zone,
    executed_at timestamp with time zone,
    error_code text,
    error_detail text
);


ALTER TABLE public.agent_actions OWNER TO postgres;

--
-- Name: agent_actions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.agent_actions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.agent_actions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: agent_snapshots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agent_snapshots (
    id integer NOT NULL,
    order_id integer NOT NULL,
    name character varying NOT NULL,
    brokerage character varying,
    email character varying NOT NULL,
    phone character varying,
    photo_filename character varying,
    created_at timestamp without time zone DEFAULT now(),
    logo_filename text
);


ALTER TABLE public.agent_snapshots OWNER TO postgres;

--
-- Name: agent_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agent_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.agent_snapshots_id_seq OWNER TO postgres;

--
-- Name: agent_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agent_snapshots_id_seq OWNED BY public.agent_snapshots.id;


--
-- Name: agents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agents (
    id integer NOT NULL,
    user_id integer,
    name character varying NOT NULL,
    brokerage character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying,
    photo_filename character varying,
    logo_filename text
);


ALTER TABLE public.agents OWNER TO postgres;

--
-- Name: agents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.agents ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.agents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: app_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_events (
    id bigint NOT NULL,
    occurred_at timestamp with time zone DEFAULT now() NOT NULL,
    event_type text NOT NULL,
    source text NOT NULL,
    user_id integer,
    property_id integer,
    sign_asset_id integer,
    order_id integer,
    qr_code text,
    session_id text,
    request_id text,
    ip_hash text,
    ua_hash text,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    event_uuid uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    received_at timestamp with time zone DEFAULT now() NOT NULL,
    schema_version integer DEFAULT 1 NOT NULL,
    environment text DEFAULT 'production'::text NOT NULL,
    actor_type text DEFAULT 'system'::text NOT NULL,
    actor_id integer,
    subject_type text,
    subject_id integer,
    idempotency_key text
);


ALTER TABLE public.app_events OWNER TO postgres;

--
-- Name: app_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.app_events ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: async_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.async_jobs (
    id bigint NOT NULL,
    job_type text NOT NULL,
    payload jsonb NOT NULL,
    status text DEFAULT 'queued'::text NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    locked_at timestamp with time zone,
    last_error text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    next_run_at timestamp without time zone,
    locked_by character varying
);


ALTER TABLE public.async_jobs OWNER TO postgres;

--
-- Name: async_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.async_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.async_jobs_id_seq OWNER TO postgres;

--
-- Name: async_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.async_jobs_id_seq OWNED BY public.async_jobs.id;


--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.campaigns (
    id integer NOT NULL,
    property_id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.campaigns OWNER TO postgres;

--
-- Name: campaigns_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.campaigns_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.campaigns_id_seq OWNER TO postgres;

--
-- Name: campaigns_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.campaigns_id_seq OWNED BY public.campaigns.id;


--
-- Name: checkout_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checkout_attempts (
    id integer NOT NULL,
    attempt_token character varying NOT NULL,
    user_id integer,
    purpose character varying NOT NULL,
    status character varying DEFAULT 'created'::character varying NOT NULL,
    idempotency_key character varying NOT NULL,
    stripe_session_id character varying,
    stripe_customer_id character varying,
    params_hash character varying NOT NULL,
    error_message character varying,
    created_at character varying NOT NULL,
    updated_at character varying NOT NULL,
    order_id integer
);


ALTER TABLE public.checkout_attempts OWNER TO postgres;

--
-- Name: checkout_attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.checkout_attempts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.checkout_attempts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id integer NOT NULL,
    user_id integer,
    event_name text NOT NULL,
    property_id integer,
    order_id integer,
    meta_json jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: lead_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lead_events (
    id integer NOT NULL,
    lead_id integer NOT NULL,
    event_type character varying(100) NOT NULL,
    payload text,
    actor_user_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lead_events OWNER TO postgres;

--
-- Name: lead_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lead_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lead_events_id_seq OWNER TO postgres;

--
-- Name: lead_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lead_events_id_seq OWNED BY public.lead_events.id;


--
-- Name: lead_notes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lead_notes (
    id integer NOT NULL,
    lead_id integer NOT NULL,
    actor_user_id integer,
    body text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lead_notes OWNER TO postgres;

--
-- Name: lead_notes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lead_notes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lead_notes_id_seq OWNER TO postgres;

--
-- Name: lead_notes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lead_notes_id_seq OWNED BY public.lead_notes.id;


--
-- Name: lead_notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lead_notifications (
    id bigint NOT NULL,
    lead_id integer NOT NULL,
    status text NOT NULL,
    channel text DEFAULT 'email'::text,
    sent_at timestamp without time zone,
    last_error text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.lead_notifications OWNER TO postgres;

--
-- Name: lead_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lead_notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lead_notifications_id_seq OWNER TO postgres;

--
-- Name: lead_notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lead_notifications_id_seq OWNED BY public.lead_notifications.id;


--
-- Name: lead_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lead_tasks (
    id integer NOT NULL,
    lead_id integer NOT NULL,
    assigned_to_user_id integer,
    title character varying(255) NOT NULL,
    due_at timestamp without time zone,
    status character varying(50) DEFAULT 'open'::character varying NOT NULL,
    completed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lead_tasks OWNER TO postgres;

--
-- Name: lead_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lead_tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lead_tasks_id_seq OWNER TO postgres;

--
-- Name: lead_tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lead_tasks_id_seq OWNED BY public.lead_tasks.id;


--
-- Name: leads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leads (
    id integer NOT NULL,
    property_id integer NOT NULL,
    agent_id integer NOT NULL,
    buyer_name character varying NOT NULL,
    buyer_email character varying NOT NULL,
    buyer_phone character varying,
    preferred_contact character varying DEFAULT 'call'::character varying,
    best_time character varying,
    message text,
    consent_given boolean DEFAULT true,
    status character varying DEFAULT 'new'::character varying,
    ip_address character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_contacted_at timestamp without time zone
);


ALTER TABLE public.leads OWNER TO postgres;

--
-- Name: leads_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.leads ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leads_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: listing_kits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.listing_kits (
    id integer NOT NULL,
    user_id integer NOT NULL,
    property_id integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    kit_zip_path text,
    flyer_pdf_path text,
    social_square_path text,
    social_story_path text,
    last_error text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.listing_kits OWNER TO postgres;

--
-- Name: listing_kits_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.listing_kits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.listing_kits_id_seq OWNER TO postgres;

--
-- Name: listing_kits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.listing_kits_id_seq OWNED BY public.listing_kits.id;


--
-- Name: order_agent_snapshot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_agent_snapshot (
    id integer NOT NULL,
    order_id integer NOT NULL,
    name character varying NOT NULL,
    brokerage character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying,
    photo_filename character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_agent_snapshot OWNER TO postgres;

--
-- Name: order_agent_snapshot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.order_agent_snapshot ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_agent_snapshot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    user_id integer,
    guest_email character varying,
    property_id integer,
    sign_pdf_path character varying,
    status character varying DEFAULT 'pending_payment'::character varying,
    stripe_checkout_session_id character varying,
    stripe_payment_intent_id character varying,
    stripe_customer_id character varying,
    shipping_address character varying,
    tracking_number character varying,
    paid_at timestamp without time zone,
    submitted_at timestamp without time zone,
    fulfilled_at timestamp without time zone,
    fulfillment_error character varying,
    provider_job_id character varying,
    guest_token character varying,
    guest_token_created_at timestamp without time zone,
    sign_color character varying DEFAULT '#0077ff'::character varying,
    sign_size character varying DEFAULT '18x24'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    print_idempotency_key character varying,
    order_type character varying(50) DEFAULT 'sign'::character varying NOT NULL,
    amount_total_cents integer,
    currency character varying(10),
    sign_asset_id bigint,
    print_product text,
    material text,
    sides text,
    layout_id text,
    design_payload jsonb,
    design_version integer DEFAULT 1 NOT NULL,
    print_size text,
    updated_at timestamp without time zone,
    preview_key text
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: print_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.print_jobs (
    idempotency_key character varying NOT NULL,
    job_id character varying NOT NULL,
    order_id integer,
    filename character varying,
    status character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    shipping_json text,
    attempts integer DEFAULT 0 NOT NULL,
    next_retry_at timestamp without time zone,
    claimed_by text,
    claimed_at timestamp without time zone,
    downloaded_at timestamp without time zone,
    printed_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_error text,
    sign_asset_id bigint
);


ALTER TABLE public.print_jobs OWNER TO postgres;

--
-- Name: properties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.properties (
    id integer NOT NULL,
    agent_id integer NOT NULL,
    address character varying NOT NULL,
    beds character varying NOT NULL,
    baths character varying NOT NULL,
    sqft character varying,
    price character varying,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    slug character varying,
    qr_code character varying,
    expires_at timestamp without time zone
);


ALTER TABLE public.properties OWNER TO postgres;

--
-- Name: properties_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.properties ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.properties_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: property_photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.property_photos (
    id integer NOT NULL,
    property_id integer NOT NULL,
    filename character varying NOT NULL
);


ALTER TABLE public.property_photos OWNER TO postgres;

--
-- Name: property_photos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.property_photos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.property_photos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: property_views; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.property_views (
    id integer NOT NULL,
    property_id integer NOT NULL,
    viewed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ip_address character varying,
    user_agent character varying,
    referrer character varying,
    is_internal integer DEFAULT 0,
    source character varying,
    qr_variant_id integer,
    campaign_id integer
);


ALTER TABLE public.property_views OWNER TO postgres;

--
-- Name: property_views_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.property_views ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.property_views_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: qr_scans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qr_scans (
    id integer NOT NULL,
    property_id integer NOT NULL,
    scanned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ip_address character varying,
    user_agent character varying,
    utm_source character varying,
    utm_medium character varying,
    utm_campaign character varying,
    referrer character varying,
    visitor_hash character varying,
    qr_variant_id integer,
    campaign_id integer,
    sign_asset_id bigint
);


ALTER TABLE public.qr_scans OWNER TO postgres;

--
-- Name: qr_scans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.qr_scans ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.qr_scans_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: qr_variants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qr_variants (
    id integer NOT NULL,
    property_id integer NOT NULL,
    campaign_id integer,
    code character varying(50) NOT NULL,
    label character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.qr_variants OWNER TO postgres;

--
-- Name: qr_variants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.qr_variants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.qr_variants_id_seq OWNER TO postgres;

--
-- Name: qr_variants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.qr_variants_id_seq OWNED BY public.qr_variants.id;


--
-- Name: sign_asset_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sign_asset_history (
    id bigint NOT NULL,
    sign_asset_id bigint NOT NULL,
    old_property_id integer,
    new_property_id integer,
    changed_by_user_id integer,
    changed_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sign_asset_history OWNER TO postgres;

--
-- Name: sign_asset_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sign_asset_history ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sign_asset_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sign_assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sign_assets (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    code text NOT NULL,
    label text,
    active_property_id integer,
    activated_at timestamp without time zone,
    activation_order_id integer,
    is_frozen boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    brand_name text,
    phone text,
    email text,
    cta_key text DEFAULT 'scan_for_details'::text NOT NULL,
    background_style text DEFAULT 'solid_blue'::text NOT NULL,
    logo_key text,
    headshot_key text,
    include_logo boolean DEFAULT true NOT NULL,
    include_headshot boolean DEFAULT false NOT NULL,
    CONSTRAINT chk_activation_requires_order CHECK (((activated_at IS NULL) OR (activation_order_id IS NOT NULL)))
);


ALTER TABLE public.sign_assets OWNER TO postgres;

--
-- Name: sign_assets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sign_assets ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sign_assets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stripe_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stripe_events (
    event_id character varying NOT NULL,
    type character varying NOT NULL,
    status character varying DEFAULT 'received'::character varying,
    last_error character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone
);


ALTER TABLE public.stripe_events OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    is_verified boolean DEFAULT false,
    is_admin boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    stripe_customer_id character varying,
    stripe_subscription_id character varying,
    subscription_status character varying DEFAULT 'free'::character varying,
    subscription_end_date timestamp without time zone,
    full_name character varying,
    username character varying,
    verification_code character varying(6),
    verification_code_expires_at timestamp without time zone,
    qr_logo_original_key text,
    qr_logo_normalized_key text,
    use_qr_logo boolean DEFAULT false NOT NULL,
    qr_logo_updated_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: agent_snapshots id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_snapshots ALTER COLUMN id SET DEFAULT nextval('public.agent_snapshots_id_seq'::regclass);


--
-- Name: async_jobs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.async_jobs ALTER COLUMN id SET DEFAULT nextval('public.async_jobs_id_seq'::regclass);


--
-- Name: campaigns id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns ALTER COLUMN id SET DEFAULT nextval('public.campaigns_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: lead_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_events ALTER COLUMN id SET DEFAULT nextval('public.lead_events_id_seq'::regclass);


--
-- Name: lead_notes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_notes ALTER COLUMN id SET DEFAULT nextval('public.lead_notes_id_seq'::regclass);


--
-- Name: lead_notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_notifications ALTER COLUMN id SET DEFAULT nextval('public.lead_notifications_id_seq'::regclass);


--
-- Name: lead_tasks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_tasks ALTER COLUMN id SET DEFAULT nextval('public.lead_tasks_id_seq'::regclass);


--
-- Name: listing_kits id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listing_kits ALTER COLUMN id SET DEFAULT nextval('public.listing_kits_id_seq'::regclass);


--
-- Name: qr_variants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_variants ALTER COLUMN id SET DEFAULT nextval('public.qr_variants_id_seq'::regclass);


--
-- Data for Name: agent_actions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.agent_actions (id, action_uuid, created_at, updated_at, user_id, created_by_type, created_by_id, property_id, lead_id, sign_asset_id, order_id, action_type, status, proposal, execution, policy_snapshot, input_event_refs, requires_approval, approved_by_user_id, approved_at, rejected_by_user_id, rejected_at, rejection_reason, execute_after, executed_at, error_code, error_detail) FROM stdin;
\.


--
-- Data for Name: agent_snapshots; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: agents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.agents (id, user_id, name, brokerage, email, phone, photo_filename, logo_filename) FROM stdin;
1	1	test1	Brokerage Name	test1@email.com	555-555-5555	uploads/agents/agent_test1_head_d4237c00.png	uploads/agents/agent_test1_logo_1c64e5a0.png
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
032_fix_sign_color_default
\.


--
-- Data for Name: app_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: async_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.async_jobs (id, job_type, payload, status, attempts, locked_at, last_error, created_at, updated_at, next_run_at, locked_by) FROM stdin;
1	test_job	{"foo": "bar"}	dead	5	2026-01-27 17:07:59.067733+00	Unknown job_type: test_job	2026-01-27 16:52:58.002391+00	2026-01-27 17:07:59.076776+00	\N	\N
\.


--
-- Data for Name: campaigns; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.campaigns (id, property_id, name, created_at) FROM stdin;
\.


--
-- Data for Name: checkout_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.checkout_attempts (id, attempt_token, user_id, purpose, status, idempotency_key, stripe_session_id, stripe_customer_id, params_hash, error_message, created_at, updated_at, order_id) FROM stdin;
1	649a0a8291ee423b86fd77c286c95349	1	subscription_upgrade	session_created	subscription_upgrade_649a0a8291ee423b86fd77c286c95349	cs_test_a1RQdYkbJ1mOiBOywUA4lqH2JBBsoiFPYx70I1AuLPj1U2vcIJVqGCmY4O	\N	9a1ea398a405fe67b3a6b21dd607e3403f870f7aea008727dbf26ca39277a4bb	\N	2026-01-27 11:46:44	2026-01-27 11:46:44	\N
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.events (id, user_id, event_name, property_id, order_id, meta_json, created_at) FROM stdin;
\.


--
-- Data for Name: lead_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lead_events (id, lead_id, event_type, payload, actor_user_id, created_at) FROM stdin;
\.


--
-- Data for Name: lead_notes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lead_notes (id, lead_id, actor_user_id, body, created_at) FROM stdin;
\.


--
-- Data for Name: lead_notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lead_notifications (id, lead_id, status, channel, sent_at, last_error, created_at) FROM stdin;
\.


--
-- Data for Name: lead_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lead_tasks (id, lead_id, assigned_to_user_id, title, due_at, status, completed_at, created_at) FROM stdin;
\.


--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.leads (id, property_id, agent_id, buyer_name, buyer_email, buyer_phone, preferred_contact, best_time, message, consent_given, status, ip_address, created_at, last_contacted_at) FROM stdin;
\.


--
-- Data for Name: listing_kits; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.listing_kits (id, user_id, property_id, status, kit_zip_path, flyer_pdf_path, social_square_path, social_story_path, last_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: order_agent_snapshot; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_agent_snapshot (id, order_id, name, brokerage, email, phone, photo_filename, created_at) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: print_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.print_jobs (idempotency_key, job_id, order_id, filename, status, created_at, shipping_json, attempts, next_retry_at, claimed_by, claimed_at, downloaded_at, printed_at, updated_at, last_error, sign_asset_id) FROM stdin;
\.


--
-- Data for Name: properties; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: property_photos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: property_views; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.property_views (id, property_id, viewed_at, ip_address, user_agent, referrer, is_internal, source, qr_variant_id, campaign_id) FROM stdin;
1	5	2026-01-28 12:17:40.018286	172.18.0.1	Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36	http://localhost:5000/dashboard/	0	public	\N	\N
\.


--
-- Data for Name: qr_scans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qr_scans (id, property_id, scanned_at, ip_address, user_agent, utm_source, utm_medium, utm_campaign, referrer, visitor_hash, qr_variant_id, campaign_id, sign_asset_id) FROM stdin;
\.


--
-- Data for Name: qr_variants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.qr_variants (id, property_id, campaign_id, code, label, created_at) FROM stdin;
\.


--
-- Data for Name: sign_asset_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sign_asset_history (id, sign_asset_id, old_property_id, new_property_id, changed_by_user_id, changed_at) FROM stdin;
\.


--
-- Data for Name: sign_assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stripe_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stripe_events (event_id, type, status, last_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: agent_actions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.agent_actions_id_seq', 1, false);


--
-- Name: agent_snapshots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.agent_snapshots_id_seq', 9, true);


--
-- Name: agents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.agents_id_seq', 1, true);


--
-- Name: app_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_events_id_seq', 2, true);


--
-- Name: async_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.async_jobs_id_seq', 1, true);


--
-- Name: campaigns_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.campaigns_id_seq', 1, false);


--
-- Name: checkout_attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.checkout_attempts_id_seq', 1, true);


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.events_id_seq', 1, false);


--
-- Name: lead_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lead_events_id_seq', 1, false);


--
-- Name: lead_notes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lead_notes_id_seq', 1, false);


--
-- Name: lead_notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lead_notifications_id_seq', 1, false);


--
-- Name: lead_tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lead_tasks_id_seq', 1, false);


--
-- Name: leads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leads_id_seq', 1, false);


--
-- Name: listing_kits_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.listing_kits_id_seq', 1, false);


--
-- Name: order_agent_snapshot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_agent_snapshot_id_seq', 1, false);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 30, true);


--
-- Name: properties_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.properties_id_seq', 9, true);


--
-- Name: property_photos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.property_photos_id_seq', 24, true);


--
-- Name: property_views_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.property_views_id_seq', 1, true);


--
-- Name: qr_scans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.qr_scans_id_seq', 1, false);


--
-- Name: qr_variants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.qr_variants_id_seq', 1, false);


--
-- Name: sign_asset_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sign_asset_history_id_seq', 1, false);


--
-- Name: sign_assets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sign_assets_id_seq', 15, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: agent_actions agent_actions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_actions
    ADD CONSTRAINT agent_actions_pkey PRIMARY KEY (id);


--
-- Name: agent_snapshots agent_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_snapshots
    ADD CONSTRAINT agent_snapshots_pkey PRIMARY KEY (id);


--
-- Name: agents agents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: app_events app_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_events
    ADD CONSTRAINT app_events_pkey PRIMARY KEY (id);


--
-- Name: async_jobs async_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.async_jobs
    ADD CONSTRAINT async_jobs_pkey PRIMARY KEY (id);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: checkout_attempts checkout_attempts_attempt_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkout_attempts
    ADD CONSTRAINT checkout_attempts_attempt_token_key UNIQUE (attempt_token);


--
-- Name: checkout_attempts checkout_attempts_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkout_attempts
    ADD CONSTRAINT checkout_attempts_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: checkout_attempts checkout_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkout_attempts
    ADD CONSTRAINT checkout_attempts_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: lead_events lead_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_events
    ADD CONSTRAINT lead_events_pkey PRIMARY KEY (id);


--
-- Name: lead_notes lead_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_notes
    ADD CONSTRAINT lead_notes_pkey PRIMARY KEY (id);


--
-- Name: lead_notifications lead_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_notifications
    ADD CONSTRAINT lead_notifications_pkey PRIMARY KEY (id);


--
-- Name: lead_tasks lead_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_tasks
    ADD CONSTRAINT lead_tasks_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: listing_kits listing_kits_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listing_kits
    ADD CONSTRAINT listing_kits_pkey PRIMARY KEY (id);


--
-- Name: order_agent_snapshot order_agent_snapshot_order_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_agent_snapshot
    ADD CONSTRAINT order_agent_snapshot_order_id_key UNIQUE (order_id);


--
-- Name: order_agent_snapshot order_agent_snapshot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_agent_snapshot
    ADD CONSTRAINT order_agent_snapshot_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: print_jobs print_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.print_jobs
    ADD CONSTRAINT print_jobs_pkey PRIMARY KEY (idempotency_key);


--
-- Name: properties properties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_pkey PRIMARY KEY (id);


--
-- Name: property_photos property_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_photos
    ADD CONSTRAINT property_photos_pkey PRIMARY KEY (id);


--
-- Name: property_views property_views_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_views
    ADD CONSTRAINT property_views_pkey PRIMARY KEY (id);


--
-- Name: qr_scans qr_scans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_scans
    ADD CONSTRAINT qr_scans_pkey PRIMARY KEY (id);


--
-- Name: qr_variants qr_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_variants
    ADD CONSTRAINT qr_variants_pkey PRIMARY KEY (id);


--
-- Name: sign_asset_history sign_asset_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sign_asset_history
    ADD CONSTRAINT sign_asset_history_pkey PRIMARY KEY (id);


--
-- Name: sign_assets sign_assets_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sign_assets
    ADD CONSTRAINT sign_assets_code_key UNIQUE (code);


--
-- Name: sign_assets sign_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sign_assets
    ADD CONSTRAINT sign_assets_pkey PRIMARY KEY (id);


--
-- Name: stripe_events stripe_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stripe_events
    ADD CONSTRAINT stripe_events_pkey PRIMARY KEY (event_id);


--
-- Name: app_events uq_app_events_idempotency; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_events
    ADD CONSTRAINT uq_app_events_idempotency UNIQUE (event_type, idempotency_key);


--
-- Name: listing_kits uq_listing_kits_property_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listing_kits
    ADD CONSTRAINT uq_listing_kits_property_id UNIQUE (property_id);


--
-- Name: qr_variants uq_qr_variants_code; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_variants
    ADD CONSTRAINT uq_qr_variants_code UNIQUE (code);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_agent_actions_lead_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agent_actions_lead_time ON public.agent_actions USING btree (lead_id, created_at DESC);


--
-- Name: idx_agent_actions_property_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agent_actions_property_time ON public.agent_actions USING btree (property_id, created_at DESC);


--
-- Name: idx_agent_actions_status_execute_after; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agent_actions_status_execute_after ON public.agent_actions USING btree (status, execute_after);


--
-- Name: idx_agent_actions_user_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agent_actions_user_time ON public.agent_actions USING btree (user_id, created_at DESC);


--
-- Name: idx_app_events_actor_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_events_actor_time ON public.app_events USING btree (actor_type, actor_id, occurred_at DESC);


--
-- Name: idx_app_events_property_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_events_property_time ON public.app_events USING btree (property_id, occurred_at DESC);


--
-- Name: idx_app_events_qr_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_events_qr_time ON public.app_events USING btree (qr_code, occurred_at DESC);


--
-- Name: idx_app_events_subject_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_events_subject_time ON public.app_events USING btree (subject_type, subject_id, occurred_at DESC);


--
-- Name: idx_app_events_type_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_events_type_time ON public.app_events USING btree (event_type, occurred_at DESC);


--
-- Name: idx_app_events_user_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_events_user_time ON public.app_events USING btree (user_id, occurred_at DESC);


--
-- Name: idx_async_jobs_status_next_run; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_async_jobs_status_next_run ON public.async_jobs USING btree (status, next_run_at);


--
-- Name: idx_checkout_attempts_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_checkout_attempts_order ON public.checkout_attempts USING btree (order_id, purpose, created_at);


--
-- Name: idx_checkout_attempts_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_checkout_attempts_token ON public.checkout_attempts USING btree (attempt_token);


--
-- Name: idx_checkout_attempts_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_checkout_attempts_user ON public.checkout_attempts USING btree (user_id, purpose, created_at);


--
-- Name: idx_events_name_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_name_created ON public.events USING btree (event_name, created_at);


--
-- Name: idx_events_user_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_user_created ON public.events USING btree (user_id, created_at);


--
-- Name: idx_leads_agent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leads_agent ON public.leads USING btree (agent_id, created_at);


--
-- Name: idx_orders_guest_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_guest_token ON public.orders USING btree (guest_token);


--
-- Name: idx_print_jobs_queue; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_print_jobs_queue ON public.print_jobs USING btree (status, next_retry_at);


--
-- Name: idx_properties_qr_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_properties_qr_code ON public.properties USING btree (qr_code);


--
-- Name: idx_property_views_internal; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_property_views_internal ON public.property_views USING btree (property_id, is_internal, viewed_at);


--
-- Name: idx_property_views_property; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_property_views_property ON public.property_views USING btree (property_id, viewed_at);


--
-- Name: ix_async_jobs_status_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_async_jobs_status_created ON public.async_jobs USING btree (status, created_at);


--
-- Name: ix_async_jobs_type_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_async_jobs_type_status ON public.async_jobs USING btree (job_type, status);


--
-- Name: ix_lead_notifications_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_lead_notifications_created_at ON public.lead_notifications USING btree (created_at);


--
-- Name: ix_lead_notifications_lead_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_lead_notifications_lead_id ON public.lead_notifications USING btree (lead_id);


--
-- Name: ix_lead_notifications_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_lead_notifications_status ON public.lead_notifications USING btree (status);


--
-- Name: ix_orders_order_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_orders_order_type ON public.orders USING btree (order_type);


--
-- Name: ix_orders_sign_asset_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_orders_sign_asset_id ON public.orders USING btree (sign_asset_id);


--
-- Name: ix_print_jobs_sign_asset_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_print_jobs_sign_asset_id ON public.print_jobs USING btree (sign_asset_id);


--
-- Name: ix_print_jobs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_print_jobs_status ON public.print_jobs USING btree (status);


--
-- Name: ix_qr_scans_sign_asset_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_qr_scans_sign_asset_id ON public.qr_scans USING btree (sign_asset_id);


--
-- Name: ix_sign_asset_history_changed_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sign_asset_history_changed_at ON public.sign_asset_history USING btree (changed_at);


--
-- Name: ix_sign_asset_history_sign_asset_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sign_asset_history_sign_asset_id ON public.sign_asset_history USING btree (sign_asset_id);


--
-- Name: ix_sign_assets_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_sign_assets_code ON public.sign_assets USING btree (code);


--
-- Name: ix_sign_assets_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sign_assets_user_id ON public.sign_assets USING btree (user_id);


--
-- Name: agent_snapshots agent_snapshots_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_snapshots
    ADD CONSTRAINT agent_snapshots_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: agents agents_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: campaigns campaigns_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: checkout_attempts checkout_attempts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkout_attempts
    ADD CONSTRAINT checkout_attempts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: events events_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE SET NULL;


--
-- Name: events events_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id) ON DELETE SET NULL;


--
-- Name: events events_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: orders fk_orders_sign_asset_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_sign_asset_id FOREIGN KEY (sign_asset_id) REFERENCES public.sign_assets(id) ON DELETE SET NULL;


--
-- Name: print_jobs fk_print_jobs_sign_asset_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.print_jobs
    ADD CONSTRAINT fk_print_jobs_sign_asset_id FOREIGN KEY (sign_asset_id) REFERENCES public.sign_assets(id) ON DELETE SET NULL;


--
-- Name: qr_scans fk_qr_scans_campaign_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_scans
    ADD CONSTRAINT fk_qr_scans_campaign_id FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id);


--
-- Name: qr_scans fk_qr_scans_qr_variant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_scans
    ADD CONSTRAINT fk_qr_scans_qr_variant_id FOREIGN KEY (qr_variant_id) REFERENCES public.qr_variants(id);


--
-- Name: qr_scans fk_qr_scans_sign_asset_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_scans
    ADD CONSTRAINT fk_qr_scans_sign_asset_id FOREIGN KEY (sign_asset_id) REFERENCES public.sign_assets(id);


--
-- Name: lead_events lead_events_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_events
    ADD CONSTRAINT lead_events_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id);


--
-- Name: lead_events lead_events_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_events
    ADD CONSTRAINT lead_events_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id);


--
-- Name: lead_notes lead_notes_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_notes
    ADD CONSTRAINT lead_notes_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id);


--
-- Name: lead_notes lead_notes_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_notes
    ADD CONSTRAINT lead_notes_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id);


--
-- Name: lead_notifications lead_notifications_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_notifications
    ADD CONSTRAINT lead_notifications_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE CASCADE;


--
-- Name: lead_tasks lead_tasks_assigned_to_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_tasks
    ADD CONSTRAINT lead_tasks_assigned_to_user_id_fkey FOREIGN KEY (assigned_to_user_id) REFERENCES public.users(id);


--
-- Name: lead_tasks lead_tasks_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_tasks
    ADD CONSTRAINT lead_tasks_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id);


--
-- Name: leads leads_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_agent_id_fkey FOREIGN KEY (agent_id) REFERENCES public.agents(id);


--
-- Name: leads leads_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: listing_kits listing_kits_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listing_kits
    ADD CONSTRAINT listing_kits_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: listing_kits listing_kits_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listing_kits
    ADD CONSTRAINT listing_kits_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: order_agent_snapshot order_agent_snapshot_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_agent_snapshot
    ADD CONSTRAINT order_agent_snapshot_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: orders orders_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: properties properties_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_agent_id_fkey FOREIGN KEY (agent_id) REFERENCES public.agents(id);


--
-- Name: property_photos property_photos_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_photos
    ADD CONSTRAINT property_photos_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: property_views property_views_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.property_views
    ADD CONSTRAINT property_views_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: qr_scans qr_scans_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_scans
    ADD CONSTRAINT qr_scans_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: qr_variants qr_variants_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_variants
    ADD CONSTRAINT qr_variants_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id);


--
-- Name: qr_variants qr_variants_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qr_variants
    ADD CONSTRAINT qr_variants_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: sign_asset_history sign_asset_history_changed_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sign_asset_history
    ADD CONSTRAINT sign_asset_history_changed_by_user_id_fkey FOREIGN KEY (changed_by_user_id) REFERENCES public.users(id);


--
-- Name: sign_asset_history sign_asset_history_new_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sign_asset_history
    ADD CONSTRAINT sign_asset_history_new_property_id_fkey FOREIGN KEY (new_property_id) REFERENCES public.properties(id);


--
-- Name: sign_asset_history sign_asset_history_old_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sign_asset_history
    ADD CONSTRAINT sign_asset_history_old_property_id_fkey FOREIGN KEY (old_property_id) REFERENCES public.properties(id);


--
-- Name: sign_asset_history sign_asset_history_sign_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sign_asset_history
    ADD CONSTRAINT sign_asset_history_sign_asset_id_fkey FOREIGN KEY (sign_asset_id) REFERENCES public.sign_assets(id) ON DELETE CASCADE;


--
-- Name: sign_assets sign_assets_activation_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sign_assets
    ADD CONSTRAINT sign_assets_activation_order_id_fkey FOREIGN KEY (activation_order_id) REFERENCES public.orders(id);


--
-- Name: sign_assets sign_assets_active_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sign_assets
    ADD CONSTRAINT sign_assets_active_property_id_fkey FOREIGN KEY (active_property_id) REFERENCES public.properties(id) ON DELETE SET NULL;


--
-- Name: sign_assets sign_assets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sign_assets
    ADD CONSTRAINT sign_assets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 6Rteq9dv54htYkb3TrNUutOrlvk4COXjVHqa8GGNlwy5jPZTikGo79uW056CIk0

--
-- PostgreSQL database cluster dump complete
--

